body {
  background-image: linear-gradient(#A1FFCE, #FAFFD1);
}
  
.card-container {
  min-height: calc(100vh - 96px - 50px - 80px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 2em;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: calc(33.33% - 20px); /* Set card width to 33.33% with 20px gap between cards */
  margin-bottom: 5px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(253, 253, 227));
}

#cardDiv {
  position: relative;
}

.country-image {
  position: absolute;
  top: 0.15;
  right: 10px;
  transform: translate(50%, -50%);
  max-height: 150px;
  max-width: 150px;
}

.myimage {
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  font-size: 16px;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 9px;
  border: none;
  background-color: #e9e9e9;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
}

.pagination button:hover {
  background-color: #ccc;
}

.pagination button.active {
  background-color: rgb(21, 21, 21);
  color: #fff;
}

.maximgleft {
  margin-right: 20px;
  margin-bottom: 6px;
  max-height: 35px;
  max-width: 35px;
}

.maximgright {
  margin-left: 20px;
  margin-bottom: 6px;
  max-height: 35px;
  max-width: 35px;
}
